<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>InventoryControlServlet</servlet-name>
        <servlet-class>project2.InventoryControlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventoryControlServlet</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Catalog Access</display-name>
        <web-resource-collection>
            <web-resource-name>Catalog</web-resource-name>
            <description>Catalog Access</description>
            <url-pattern>/catalog/</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Read-Only Access</description>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <description>Read-Write Access</description>
        <role-name>admin</role-name>
    </security-role>
</web-app>
